@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

html{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 200em;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    display: flex;
    width: 100%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    
}
header{
    display: flex;
    justify-content: center;
    background: linear-gradient(#000000,#00000000);
    width: 100%;
    margin: 0;
    padding: 2.5em 7em 0em 7em;
    height: 10.813em;
    position: sticky;
}

.contain{
    width: 100%;
    position: relative;
    justify-content: space-between;
    display: grid;
    column-gap: 0em;
    column-span: 3;
    grid-row: 1;
    gap: 1em;
    height: 3em;
    margin: 0;
    padding: 0;
}

.column-1{
    grid-column-start: 1;
    width: 9em;
}
.column-2{
    width: 14em;
    grid-column-start: 2;
    border: 0.2em solid blue;
}

.contain-2{
    justify-content: space-between;
    border: solid 0.1em red;
    display: grid;
    column-gap: 0em;
    column-span: 2;
    grid-row: 1;
    gap: 0.5em;
    margin: 0;
    padding: 0%;
}

.column-3{
    grid-column-start: 1;
}
.column-4{
    grid-column-start: 2;
}

/*LIGHT AND DARK SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 4.3em;
  height: 2em;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3em;

}
.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 0.3em;
  bottom: 0.2em;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3em;

}
input:checked + .slider {
  background-color: #000000;
}
input:focus + .slider {
  box-shadow: 0 0 0.1em #202020;
}
input:checked + .slider:before {
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em);

  background: #ffffff;
}
